*{
    background: blueviolet;
}
.new-article{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(150, 6, 6);
    border-radius: 8px;
}
.new-article input{
    height:40px;
}