home{
  text-align: center;
  margin-bottom: 300px;
}
.home-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
nav{
  display:flex;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  background-color: darkgoldenrod;
}
.home-head{
  font-size: 50px;
  text-align: center;
  color: green;
}
.home-par{
  font-size: 1.5rem;
}
.article-form{
  border: 2px solid;
  height: 70px;
  padding: 25px;
  background-color: rgb(17, 44, 17);
}
input{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
button{
  background-color: darkgoldenrod;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.article{
  align-items: center;
  border: 1px solid;
  width: 350px;
  height: 850px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  word-wrap: break-word;
  background-color: white;
}
.image{
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.arts{
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
   
 
}
.btn{
  background-color: darkgoldenrod;
  margin-right: 100px;
  margin-bottom: 5px;
  
}
.comments{
  padding: 10px 20px;
}
.comments form{
  margin-top: 0;
}
.comments form input{
  margin-left: 0;
  width: 100%;
}
textarea{
  padding: 20px;
  width: 100%;
  height: 50px;
  border: 2px solid;
}
.butn{
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
.title{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.health{
  text-align: center;
  margin-bottom: 1px;
  color: green;
}
.image{
  text-align: center;
}
.btn{

background-color: darkgreen;
margin-left: 50px;
margin-top: 20px;
width: 80px;
}
.btns{
  background-color: red;
  margin-right: 20px;
margin-top: 10px;
width: 90px;
}
.articles-list{
  font-size: small;
  
}
.form-comments-sections{
  display: flex;
  width: 100%;
}
.form-section{
  width: 100%;
}

.display-comments{
  margin-top: 0;
  margin-right: 0;
  margin-left: 20px;
  border-right-color: blueviolet;
  border-style:groove;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#disp-auth-image{
  display: flex;
  margin-left: 20px;
}
/* Style the home page Images */
.home-image{
  background-color: blue;
  display: flex;
}