.arts{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; 
 
}

.comments{
  display: grid;                  /* Use grid layout */
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid; adjust as needed */
  grid-gap: 10px;                 /* Space between grid items */
  background-color: lightgoldenrodyellow;   /* Replace 'your-color' with the desired background color */
  padding: 20px;                  /* Add padding for spacing */
  
}
textarea{
  padding: 20px;
  width: 50%;
  height: 50px;
  border: 1px solid;
}
.butn{
  background-color: goldenrod;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.butn :hover{
  background-color: #bdbfc1;
}

